* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --header-height: 60px;
  --nav-height: 40px;
  --column-padding: 10px;
  --nav-header-combined-height: calc(var(--header-height) + var(--nav-height) + var(--column-padding)*2);
}

.header {
  background-color: #f1f1f1;
  height: var(--header-height);
  text-align: center;
}

.topnav {
  display: flex; /* Use flexbox */
  overflow: hidden;
  background-color: #333;
  height: var(--nav-height);
}

.topnav a {
  flex: 1; /* Distribute the available space equally among the links */
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.column {
  padding: var(--column-padding);
  text-align: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.content-wrapper {
  height: calc(100vh - var(--nav-header-combined-height));
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.column {
  flex: 1;
}

.main {
  background-color: lightblue; /* Just for visualization */
}

.left, .right {
  background-color: lightgreen; /* Just for visualization */
}
